* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
image {
    height: 100%;
    width: 100%;
}

#into-page {
    width: 100vw;
    height: 100vh;
}
#into-page h1 {
    margin: 0;
}

#game-page {
    width: 100vw;
    height: 100vh;
    background-color:lightblue;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(40, 1fr);
}

#side-menu {
    height: 15vh;
    width: 100vw;
    background-color:lightgoldenrodyellow;


}
.sky {
    background-image: url(/images/cloud.png);
    background-size: contain;
}

.ground {
    background-image: url(/images/ground.jpg);
    background-size: contain;
    border: 1px dotted black;
}

.grass {
    background-image: url(/images/grass.png);
    background-size: contain;
    border: 1px dotted black;
}

.rock {
    background-image: url(/images/rock.png);
    background-size: contain;
    border: 1px dotted black;
}

.tree {
    background-image: url(/images/tree.png);
    background-size: contain;
    border: 1px dotted black;
}
.tree-leaf {
    background-image: url(/images/leaf.png);
    background-size: contain;
    border: 1px dotted black;
}




